<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.customer.mapper.CustomerMapper">

	<delete id="deleteCustomer" parameterType="_int">
		DELETE FROM CUSTOMER WHERE CUSTOMER_NO = #{customerNo}
	</delete>


</mapper>
